<<<<<<< HEAD
body{
    background-color: rgb(255, 255, 255);
}
=======

>>>>>>> 10740bdf3944c06e2fc8565120e9692057a4ea60

#tabela1{
    background-color: rgb(161, 209, 255);

    
}
#tabela2{
background-color: rgb(80, 82, 82);
border: 4px solid rgb(255, 255, 255);

}

.Material{
width: 300px;
height: 300px;


}

























#img_navabar{
    width: 100vw;
}





 