body{
    background-color: rgb(255, 255, 255);
}

#tabela1{
    background-color: rgb(161, 209, 255);

    
}
#tabela2{
background-color: rgb(80, 82, 82);
border: 4px solid rgb(255, 255, 255);

}

.Material{
width: 300px;
height: 300px;


}










#Navbar{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}