

#tabela1{
    background-color: rgb(161, 209, 255);

    
}










#Navbar{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}