<<<<<<< HEAD
body{
    background-color: rgb(255, 255, 255);
}
=======

>>>>>>> 10740bdf3944c06e2fc8565120e9692057a4ea60

#tabela1{
    background-color: rgb(161, 209, 255);

    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    background-color: rgb(50, 179, 211);
    flex-wrap: wrap;
    
}
#tabela2{
background-color: rgb(80, 82, 82);
border: 4px solid rgb(255, 255, 255);

}
.retangulo{
    
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    background-color: rgb(150, 153, 155);
}
.Material{
width: 300px;
height: 300px;


}

.Flex{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
background-color: rgb(69, 167, 212);

}

#tabela3{
    
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    background-color: rgb(3, 247, 255);
}

.pedidos{
    
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    background-color: rgb(158, 160, 160);
}

.img_pedido{
    width: 300px;
height: 300px;
}
























.navbar{

}
#img_navabar{
    width: 100%;
    padding: 0px;
}



 